<% provide(:title, "Contact") %>
<h1><%= gravatar_for("Daniel Swain Jr", "danieswain@gmail.com")%> Daniel Swain Jr</h1>
<p class="center">Contact Daniel Swain Jr about this Equipment Checkout App <a href="http://github.com/wisard1862">here</a>.</p>
