<% provide(:title, "Admins") %>
<h1>Admins</h1>
<%= will_paginate %>
<div class="table-responsive">
	<table class="table table-striped">
		<tr>
			<th>
			Name
			</th>
			<th>
			Email
			</th>
			<th>
			Options
			</th>
		</tr>
		<%= render @admins %>
	</table>
</div>
<%= will_paginate %>