<% provide(:title, "All Equipment") %>
<h1>Equipment</h1>
<%= will_paginate %>
<div class="table-responsive">
	<table class="table table-striped">
		<tr>
			<th>
			Tag
			</th>
			<th>
			Name
			</th>
			<th>
			Status
			</th>
			<th>
			Options
			</th>
		</tr>
		<%= render @equipment %>
	</table>
</div>
<%= will_paginate %>