<% provide(:title, "All Equipment") %>
<h1>All Equipment</h1>
<%= will_paginate %>

<div class="boxer">
	<div class="box-row-head">
		<div class="box">
		Tag
		</div>
		<div class="box">
		Name
		</div>
		<div class="box">
		Status
		</div>
		<div class="box">
		Options
		</div>
	</div>

	<%= render @equipment %>

</div>
<%= will_paginate %>