<div class="jumbotron">
	<p class="center">
		<b>Equipment Name:</b> "<%= @equipment.name %>", 
		<b>Tag:</b> "<%= @equipment.tag %>", 
		<b>Status:</b> "<%= give_status(@equipment.status)%>"
	</p>
</div>