<% provide(:title, "Requests") %>
<h1>Requests</h1>
<%= will_paginate %>

<div class="boxer">
	<div class="box-row-head">
		<div class="box">
		Equipment <br/>Tag: Name
		</div>
		<div class="box">
		Name
		</div>
		<div class="box">
		SID
		</div>
		<div class="box">
		Email
		</div>
		<div class="box">
		Options
		</div>
	</div>

	<%= render @requests %>

</div>
<%= will_paginate %>