<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
	<%= link_to "ASU Student Union", '#', id: "logo" %>
	<nav>
		<ul class="nav navbar-nav navbar-right">
			<li><%= link_to "Add Equipment", new_equipment_path %></li>
			<li><%= link_to "Equipment Index", equipment_index_path %></li>
		</ul>
	</div>
</header>